<div>
  <form action="../<%= @id %>" method="post">
    <div>
      <label for="title">タイトル</label>
      <input type="text" id="title" name="title" value="<%= @title %>" required>
    </div>
    <div>
      <label for="body">内容</label>
      <textarea id="body" name="body" cols="30" rows="10"><%= @body %></textarea>
    </div>
    <div>
      <input type="hidden" name="_method" value="patch">
      <input type="submit" value="変更">
    </div>
  </form>
</div>
<div>
  <input type="button" onclick="history.back()" value="戻る">
</div>
