<div>
  <ul>
    <% @hash["memos"].each do |memo| %>
      <li><a href="/memo/<%= memo["id"] %>"><%= memo["title"] %></a></li>
    <% end %>
  </ul>
</div>
<div>
    <input  class="button" type="button" onclick="location.href='memo/new'" value="新規作成">
</div>
